# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*(1).*
*.opensdf
*.sdf
*.suo

Debug/
ipch/
libBulletML/
Release/
SDLtest01/