# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS solution file
*.sln
*.vcxproj
*.vcxproj.filters
*.suo
*.sdf
*.opensdf

#Debug / Release directory
Debug/
Release/

Debug/
ipch/
libBulletML/
Release/
SDLtest01/